.center {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30%;
  display: block;
  padding: 1%;
  width: 200px;
  height: 200px;
  border-style: dotted;
  border-color: aqua;
}

body {
  font-family: "Franklin Gothic Medium";
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
header {
  background-color: lightblue;
  text-align: center;
}
.bg {
  background-color: lightblue;
}
h2 {
  background-color: hotpink;
}
.link {
  color: orange;
}
p {
  margin-left: 40px;
  margin-right: 40px;
}
.container {
  display: flex;
}
.Nav {text-align: center;
margin: auto;}