/* header*/
.center {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  display: block;
  padding: 1%;
  width: 200px;
  height: 200px;
}
header {
  background-color: lightblue;
  text-align: center;
  border-style: solid;
  border-color: hotpink;
  display: flex;
  position: relative;
  
}
/*body*/
body {
  font-family: "Franklin Gothic Medium";
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 10px;
  border-style: double;
}
.link {
  color: orange;
}
p {
  margin-left: 40px;
  margin-right: 40px;
}
/* nav-bar */
.container {
  display: flex;
  position: relative;
flex-direction: column;
top:100px;
left:100px;}
.education{margin: 25px;}
.experience{margin: 25px;}
.skills{margin: 25px;}
.edu-exp {
  display: flex;
  flex-direction:column;
  
}
/* main content position */
#education{text-align: center;}
#experience{text-align: center;}
#skills{text-align: center;}
#contact-details{text-align: center;}
.contact-details{display: flex;
  position: sticky;
  flex-direction: column  ;
top:50px;
right: 150px;}
.whole-page{display: flex;
}
.Edu{  background-color: hotpink;}
.Exp{  background-color: hotpink;}
.Ski{  background-color: hotpink;}